<div class="p-4 rounded shadow bg-white">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row g-4">
            <div class="col-12 text-center">
                <div>
                    <span class="h3 color-purple">Strong</span>
                    <span class="h3 color-orange">Memory</span><br/>
                </div>
                <p class="mt-2">Fortaleça sua memória através de palavras.</p>
            </div>

            <div class="col-12">
                <label class="form-label" for="select_word_category">Categoria de Palavras:</label>
                <select 
                    class="form-control" 
                    id="select_word_category" 
                    formControlName="category"
                >
                    @for(c of categories; track $index){
                        <option [value]="c.value">
                            {{ c.category }}
                        </option>
                    }
                </select>
            </div>

            <div class="col-12 text-end">
                <button 
                    class="btn-gradient-purple-orange"
                    type="submit" 
                    [disabled]="form.invalid"
                >
                    Iniciar
                </button>
            </div>
        </div>
    </form>
</div>
