.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgb(219, 219, 219);
}

.input-word{
  font-size: 17px!important; 
  font-weight: 500!important; 
  background-color: white!important;
  text-transform: uppercase!important;
  text-align: center;
}