<div class="col-12">
  @switch (pageState()) {

    @case ('loading') {
      <section class="col-12 d-flex justify-content-center align-items-center min-vh-90 text-center">
        <div>
          <div class="spinner-grow color-purple me-1"></div>
          <div class="spinner-grow color-orange"></div>
          <p class="mt-3">Carregando palavras...</p>
        </div>
      </section>
    }

    @case ('error') {
      <section class="p-5 bg-white rounded shadow my-5">
        <div class="col-12">
          <h4 class="text-danger">:( Aconteceu um erro</h4>
          <hr />
        </div>
        <div class="alert text-bg-danger d-flex justify-content-between align-items-center">
          <span>
            <i class="bi-x-circle-fill me-2"></i>
            Falha ao carregar palavras.
          </span>
          <a class="btn text-light" routerLink="/start">
            <i class="bi-arrow-left me-2"></i>Voltar
          </a>
        </div>
      </section>
    }

    @case ('show-game') {
      <div class="col-12 py-5">
        <app-game [words]="words" />
      </div>
    }
    
  }
</div>
