<div class="col-12">
    @if(mode === 'edit' && control){
        <input
            type="text"
            class="form-control input-word"
            [class]="themClass()"
            [formControl]="control"
            [placeholder]="placeholder"
            appWordValidation
            [compare]="compare()"
            [isEqual]="isEqual()"
            [touched]="control.touched"
            [invalidControl]="control.invalid"
        />
    }
    @else{
        <input
            type="text"
            class="form-control input-word"
            [class]="themClass()"
            [value]="value"
            disabled
            appWordValidation
            [compare]="compare()"
            [isEqual]="isEqual()"
        />
    }
</div>  