/*HTML - GENERAL*/
html, body {
  height: 100%;
  margin: 0;
}

:root {
  --purple: #9c04fc;
  --orange: #ffab40;
  --gradientpurpleorange: linear-gradient(120deg, #9c04fc 0%, #ffab40 100%);
}

/* THEME */
.bg-white {
  background-color: white !important;
}

.bg-gradient-purple-orange{
  background: var(--gradientpurpleorange);
}

.text-bg-black {
  background-color: black;
  color: white;
}

.text-bg-white {
  background-color: white!important;
  color: black!important;
}

.text-bg-dark::placeholder {
  color: white;
}

.text-bg-dark {
  border-color: black;
}

.color-purple {
  color: var(--purple);
}

.color-orange {
  color: var(--orange);
}


/* INPUTS */
.is-invalid {
  border-color: red !important;
}
.is-valid {
  border-color: green !important;
}


/* BTNS */
.btn-gradient-purple-orange {
  background: var(--gradientpurpleorange);
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
}

