@if(noTimeLeft()){
    <app-no-time-left (reset)="reset()" />
}

@else {
    <section class="col-12 p-4 bg-white rounded shadow ">
        <div class="row justify-content-between mb-3">
      
            <div class="col-12 text-end mb-3">
                <button 
                    (click)="reloadPage()" 
                    class="btn text-danger text-center"
                    [class.d-none]="hasUserState() && !isCorrect()"
                >
                    <i class="bi-arrow-clockwise"></i>
                </button>
            </div>

            <div class="text-center col-12 col-sm-6 text-sm-start mb-3 mb-sm-0">
                @if (hasUserState()) { <app-feedback /> }
            </div>
                  
            <div class="text-center col-12 col-sm-6 text-sm-end">
                <span class="h5">Pontuação: {{ score() }}</span>
            </div>
        </div>

        @if(!showResult()){
            <div class="col-12 d-block mb-4">
                <app-timer
                    [initialTime]="time()"
                    (finished)="onTimerFinished()"
                />
            </div>
        }
    
        @if (showResult() || answer()) {
            <app-user-words-form
                [title]="title()"
                [compareWords]="showResult()"
                [numberInputs]="roundFacade.lengthCurrentWords"
                (submitWords)="checkCorrect($event)"
            />
        }

        @if (!this.answer() || this.showResult()) {
            <div class="col-12" [class.mt-5]="showResult()">
                <app-words-list [compareWords]="showResult()"/>
            </div>
        }

        @if (btnFeedback()) {
            <div class="text-end mt-3">
                <button 
                    class="btn-gradient-purple-orange mt-3" 
                    (click)="btnFeedback()!.action()"
                >
                    <i class=" {{ btnFeedback()!.icon }} me-1"></i>
                    {{ btnFeedback()!.text }}
                </button>
            </div>
        }
    </section>
}